body {
  background: #ffffff;
  padding: 20px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
}
.slider-nav a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
#slideshowWrapper {
  display: block;
}
.slider {
    padding: 30px 0px;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.active {
    display: block;
}
